# Part 1.1 Data Munging Tesla Stock Data

# Capstone Index

    
+    [Part 1.1 Data Munging Tesla Stock Data](Part_1_API_Query.ipynb.ipynb)
+    [Part 1.2 Data Munging Elon Musk Twitter Data](Tweets_dayofweek_10_14_2018.ipynb)
+    [Part 1.3 Merging all the data into one csv file](tbd file name.ipynb)

## Importing Stuff

In [1]:
import requests
import json 
import pandas as pd 
import numpy as np

%matplotlib inline

## Loading and Coverting Data to Pandas Dataframe

In [2]:
Stock = pd.read_csv('../Data/HistoricalQuotes_10_years.csv')

## Adding a datatime column

In [3]:
Stock.head()

         date   close         volume    open      high     low
0       15:15  263.25     10,668,172  255.14  266.7700  253.30
1  2018/10/08  250.56  13371180.0000  264.52  267.7599  249.00
2  2018/10/05  261.95  17900710.0000  274.65  274.8800  260.00
3  2018/10/04  281.83   9638885.0000  293.95  294.0000  277.67
4  2018/10/03  294.80   7982272.0000  303.33  304.6000  291.57

In [4]:
# Dropping the first row as it is not in the right format.
Stock.drop(Stock.index[:1], inplace = True)

In [5]:
# Making the Stock['date'] column a datetime format.
Stock['date'] = pd.to_datetime(Stock['date'], format = '%Y/%m/%d')

## Creating and adding the day_of_week column

In [6]:
# Does not work
#Stock['low'] = Stock['date'].isoweekday()

In [7]:
Stock.ftypes

date      datetime64[ns]:dense
close            float64:dense
volume            object:dense
open             float64:dense
high             float64:dense
low              float64:dense
dtype: object

In [8]:
# For reference
Stock['date'][15].isoweekday()

2

In [9]:
# Adding Stocl['day_of_week'] column and making it an integer, as required by isoweekday
Stock['day_of_week'] = Stock['close'].astype(int)

In [10]:
Stock.ftypes

date           datetime64[ns]:dense
close                 float64:dense
volume                 object:dense
open                  float64:dense
high                  float64:dense
low                   float64:dense
day_of_week             int32:dense
dtype: object

In [11]:
i = 1
while i < len(Stock):
    Stock['day_of_week'][i] = Stock['date'][i].isoweekday()
    i += 1

C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
Stock.head(20)

         date   close         volume    open      high       low  day_of_week
1  2018-10-08  250.56  13371180.0000  264.52  267.7599  249.0000            1
2  2018-10-05  261.95  17900710.0000  274.65  274.8800  260.0000            5
3  2018-10-04  281.83   9638885.0000  293.95  294.0000  277.6700            4
4  2018-10-03  294.80   7982272.0000  303.33  304.6000  291.5700            3
5  2018-10-02  301.02  11699690.0000  313.95  316.8400  299.1500            2
6  2018-10-01  310.70  21714210.0000  305.77  311.4400  301.0500            1
7  2018-09-28  264.77  33597290.0000  270.26  278.0000  260.5550            5
8  2018-09-27  307.52   7337760.0000  312.90  314.9600  306.9100            4
9  2018-09-26  309.58   7835863.0000  301.91  313.8900  301.1093            3
10 2018-09-25  300.99   4472287.0000  300.00  304.6000  296.5000            2
11 2018-09-24  299.68   4834384.0000  298.48  302.9993  293.5800            1
12 2018-09-21  299.10   5038497.0000  297.70  300.5800  295.3700            5
13 2018-09-20  298.33   7332477.0000  303.56  305.9800  293.3300            4
14 2018-09-19  299.02   8264353.0000  280.51  300.0000  280.5000            3
15 2018-09-18  284.96  16494280.0000  296.69  302.6400  275.5000            2
16 2018-09-17  294.84   6866208.0000  290.04  300.8700  288.1300            1
17 2018-09-14  295.20   6757652.0000  288.76  297.3256  286.5200            5
18 2018-09-13  289.46   6333281.0000  288.02  295.0000  285.1800            4
19 2018-09-12  290.54  10002150.0000  281.44  292.5000  278.6463            3
20 2018-09-11  279.44   9161061.0000  279.47  282.0000  273.5500            2

## Saving dataframe to a csv file

In [13]:
pd.DataFrame(Stock).to_csv('Stock_dayofweek_10_14_2018', index = False)