# Part 1.2 Data Munging Elon Musk Twitter Data

# Capstone Index

    
+    [Part 1.1 Data Munging Tesla Stock Data](./Stock_dayofweek_10_14_2018.ipynb)
+    [Part 1.2 Data Munging Elon Musk Twitter Data](./Tweets_dayofweek_10_14_2018.ipynb)
+    [Part 1.3 Scrapping the SEC](./Web_Scraper_2_10_16_2018_clean.ipynb)
+    [Part 1.4 Merging all the data into one csv file](./Merging_the_data_3_10_18_2018_clean.ipynb)
+    [Part 2 Running models](./Modeling_5_10_19_2018 .ipynb)
+    [Part 2.1 Running more models](./Running_more_models_10_19_2018.ipynb)

## Importing Stuff

In [1]:
import requests
import json 
import pandas as pd 
import numpy as np

%matplotlib inline

## Loading and Coverting Data to Pandas Dataframe

In [2]:
Tweets = pd.read_csv('../Data/elonmusk_tweets.csv')

## Adding a datatime column

In [3]:
Tweets.head()

,id,created_at,text
0,849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...
1,848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
2,848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
3,848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...'
4,848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."

In [4]:
Tweets['created_at'] = pd.to_datetime(Tweets['created_at'], format = '%Y-%m-%d %H:%M:%S')

## Creating and adding the day_of_week column

In [5]:
# Creating column with integers to overlay the day of the week on
Tweets['day_of_week'] = Tweets['id'].astype(int)

In [6]:
Tweets.ftypes

id                      int64:dense
created_at     datetime64[ns]:dense
text                   object:dense
day_of_week             int32:dense
dtype: object

In [7]:
len(Tweets)

2819

In [8]:
i = 0
while i < len(Tweets):
    Tweets['day_of_week'][i] = Tweets['created_at'][i].isoweekday()
    i += 1

C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
Tweets.head(5)

,id,created_at,text,day_of_week
0,849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...,3
1,848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa...",1
2,848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'",1
3,848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...',1
4,848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ...",7

In [10]:
Tweets.tail(5)

,id,created_at,text,day_of_week
2814,142881284019060736,2011-12-03 08:22:07,b'That was a total non sequitur btw',6
2815,142880871391838208,2011-12-03 08:20:28,"b'Great Voltaire quote, arguably better than T...",6
2816,142188458125963264,2011-12-01 10:29:04,b'I made the volume on the Model S http://t.co...,4
2817,142179928203460608,2011-12-01 09:55:11,"b""Went to Iceland on Sat to ride bumper cars o...",4
2818,15434727182,2010-06-04 18:31:57,"b'Please ignore prior tweets, as that was some...",5

## Saving dataframe to a csv file

In [11]:
pd.DataFrame(Tweets).to_csv('Tweets_dayofweek_10_14_2018', index = False)